* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
	-webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body, html {
    background-image: url("../assets/img/fondo.webp");
    max-width: 100%;
    font-family: sans-serif;
}
div.topads {
    background-color: rgb(147, 211, 27);
    padding: 5px;    
    p {
      
      color: #123f02;
      font-weight:bolder;
      text-align: center;
       
    }
}
header {
    display: flex;
    justify-content: center;
         align-items: center;
    height: 70 px;   
    background-color: #000000;
    max-width: 100%;
    height: 70px;

    .contenedorheader {
        
        height: 60px;
        max-width: 100%;
        padding-right: 10px;
        padding-left: 10px;   
        color: #f2f1f1;
        

            .contenedor-header{
                display: flex;
 
                .logo {
                    max-width: 100%;
                    max-height: 50px;
                    margin-top: 1px;
                        img {
                        height: 100%;
                        width: 100%;
                        align-items: center;
                            }
                }

                .menu {
                    display: flex;
                    max-width: 100%;
                    margin-top: 10px;
                    font-size: small;
                    
                    
                                        
                    a{
                        text-decoration: none;
                        display: block;
                        
                      }
                      ul,li {
                        list-style: none;
                        text-decoration: none;
                        display: inline-block;
                            
                           
                        }
                    .submenu  {
                        display: none;
                            &:hover {
                                ul, li {
                                    display:inline-flex;
                               position: relative;
                                    
                                }
                                
                            }
                        }

                        
                    .btnefect{
                        color:rgb(255, 255, 255);
                        background:rgba(0, 0, 0);
                        
                        text-decoration:none;
                        letter-spacing:2px;
                        text-transform:uppercase;
                       
                        &:hover{
                            border:none;
                            background:rgba(0, 0, 0, 0.4);
                            background:#93d31b;
                            padding: 5px 5px;
                            color:#1b1b1b;
                            visibility: visible;
                            
                                                        
                          }
                          
                      }


                }

                .usuario {
                    max-width: calc(100% - 33%);
                    max-height: 60px;
                    margin-top: 10px;
                    margin-left: 20px;
                    
                    
                    p{
                        text-align: center;
                        
                    }

                }
            }
    }
}



.bg-primary{
	background: $primary !important;
}

.ejo-section{
	padding: 7em 0;
}

.ejo-no-pt{
	padding-top: 0;
}
.ejo-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $black;
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


.wrap{
	background: #202020;
	.phone{
		a{
			color: $white;
			font-size: 12px;
		}
	}
}
.social-media{
	display: inline-block;
	p{
		a{
			width: 34px;
			height: 34px;
			background: lighten($black,30%);
			margin-right: 1px;
			span{
				color: $white;
			}
			&:hover{
				background: $primary;
				border-color: $primary;
				span{
					color: $white;
				}
			}
		}
	}
}

.ejo-navbar-light {
	background: #fff !important;
	z-index: 3;
	padding: 0;
	-webkit-box-shadow: 0px 5px 20px -17px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 5px 20px -17px rgba(0,0,0,0.34);
	box-shadow: 0px 5px 20px -17px rgba(0,0,0,0.34);
	@include media-breakpoint-down(md) {
		background: $white;
		position: relative;
		top: 0;
		padding: 10px 15px;
	}

	.navbar-brand {
		color: $black;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;
		line-height: 1;
		span{
			display: block;
			font-size: 12px;
			font-weight: 500;
		}
		&:hover, &:focus{
			color: $black;
		}
		@include media-breakpoint-down(sm){
			margin-bottom: 20px;
		}
	}

	.navbar-nav {
		@include media-breakpoint-down(md){
			padding-bottom: 10px;
		}
		> .nav-item {
			> .nav-link {
				font-size: 11px;
				padding-top: 2rem;
				padding-bottom: 2rem;
				padding-left: 20px;
				padding-right: 20px;
				font-weight: 500;
				color: lighten($black,30%);
				text-transform: uppercase;
				letter-spacing: 2px;
				position: relative;
				&:before{
					content: "";
				  position: absolute;
				  width: 100%;
				  height: 100%;
				  bottom: 0;
				  left: 0;
				  background-color: $primary;
				  visibility: hidden;
				  -webkit-transform: scaleX(0);
				  transform: scaleX(0);
				  -webkit-transition: all 0.2s ease-in-out 0s;
				  transition: all 0.2s ease-in-out 0s;
				  z-index: -1;
				}
				&:hover {
					color: $white;
					&:before{
						visibility: visible;
					  background-color: $primary;
					  -webkit-transform: scaleX(1);
					  transform: scaleX(1);
					}
				}
				opacity: 1!important;
				@include media-breakpoint-down(md){
					padding-left: 0;
					padding-right: 0;
					padding-top: .9rem;
					padding-bottom: .9rem;
					&:hover{
						color: $white;
					}
				}
				@include media-breakpoint-down(sm){
					border-bottom: 1px solid rgba(0,0,0,.05);
				}
			}

			.dropdown-menu{
				border: none;
				background: $white;
				-webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				-moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				border-radius: 4px;
				.dropdown-item{
					font-size: 12px;
					color: $black;
					&:hover, &:focus{
						background: $primary;
						color: $white;
					}
				}
				@include media-breakpoint-down(md){
					display: block !important;
					background: $white;
					box-shadow: none;
				}
			}

			
			&.cta {
				> a {
					color: $white;
					background: $primary;
					border-radius: 0px;
					@include media-breakpoint-down(sm){
						padding-left: 15px;
						padding-right: 15px;
					}
					@include media-breakpoint-down(md){
						color: $white;
						background: $primary;
						border-radius: 4px;
					}
				}
			}
			&.active {
				> a {
					color: $white;
					&:before{
						visibility: visible;
					  background-color: $primary;
					  -webkit-transform: scaleX(1);
					  transform: scaleX(1);
					}
					@include media-breakpoint-down(md){
						color: $black;
						&:before{
							display: none;
						}
					}
				}
			}
		}
	}
	
	.navbar-toggler {
		border: none;
		color: rgba(0,0,0,.5)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		&:focus{
			outline: none !important;
		}
	}
}


.searchform{
	height:46px;
	border: 1px solid rgba(0,0,0,.05);
	overflow: hidden;
	@include border-radius(5px);
	.form-control{
		width: calc(100% - 46px);
		border: none;
		background: #fff !important;
		color: rgba(0,0,0,.7) !important;
		font-size: 14px;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba(0,0,0,.7) !important;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: rgba(0,0,0,.7) !important;
		}
		&:-ms-input-placeholder { /* IE 0+ */
		  color: rgba(0,0,0,.7) !important;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: rgba(0,0,0,.7) !important;
		}
	}
	.search{
		width: 46px;
		height: 46px;
		span{
			font-size: 18px;
		}
	}
}

.form-control {
	height: 46px!important;
	background: $white!important;
	color: $black!important;
	font-size: 14px;
	border-radius: 0px;
	box-shadow: none!important;
	border: 1px solid rgba(0,0,0,.1);
	&:focus, &:active {
		border-color: $black;
	}
}


.banner {
    width: 100%;

    img {
        max-width: cover;
    }

}

.promos {
      
    .contenedorpromos {

         display: flex;
         justify-content: center;
         align-items: center;
         
            .promo1, .promo2, .promo3 {
                
                flex: 1 1 auto;
                
                    img {
                        max-width: 100%;
                    }
                     
            }

    }
}


.productosdestacados {
    background: #160a2c;
    max-width: 100%;
    max-height: 100%;
    
    
    
    .contenedorproductosdestacados {
        
        
        .nombreseccion {
            text-align: center;
            align-items: center;
            padding: 10px 0; 
        	font-size: 20px;
	        color: #ffffff;
        }

        .listaproductos {

            display: table;
            max-width: 100%;
            padding: 65px;
            
            

                .cajaproducto {
                    display: inline-table;
                    padding: 10px;
                    max-width: calc(100%/5 - 20px);
                    
                    a {
                        text-decoration: none;
                    }

                        .producto {
                            width: 100%;
                            border-radius: 20px;
                            box-shadow: 0 0 8px 2px #d2bcff;
                            background-color: #93d31b;

                             img {
                                width: 100%;
                                border-radius: 20px 20px 0 0; 
                             }
                        }

                        .producto-nombre {
                            padding: 5px;
	                        text-align: center;
                            font-weight: 700;
                            font-size: 18px;
	                        color: #290c25;
	                        width: calc(100% - 10px);
	                        height: 35px;
                        }

                        .producto-descripcion {
                            text-align: center;
	                        font-size: 14px;
	                        color: #332733;
	                        padding: 5px;
	                        width: calc(100% - 10px);
	                        height: 34px;
                        }

                        .producto-precio {
                            text-align: center;
                            font-weight: 500;
	                        font-size: 25px;
	                        color: #290c25;
	                        padding: 5px;
	                        width: calc(100% - 5px);
                            
                        }
                }

            
           
    
            
            }
        }

        
    }
    



footer{
    background: #131313;
    color: #f2f1f1;
    max-width: 100%;
    font-size: small;
    

    .contenedorprincipalfooter {
        max-width: 100%;
        text-align: left;
        align-items: center;
                
        
    }

    .contenedor-footer {
        display: flex;
        
        .col1 {
            max-width: 33%;
            margin: 15px;
            
        p{
           color:#a2a2a2
        }
        }

        .col2 {
            max-width: 33%;
            margin: 15px;
            h2 {
               font-size: 22px;
            }

            .row {
                margin-top: 20px;
                display: flex;
                label {
                    margin-top: 10px;
                    margin-left: 5px;
                    display: flex;
                }

            }
        img {
            width: 35px;
            height: 35px;
        }
        

        }
        
        .col3 {
            max-width: 33%;
            margin: 15px;

        }
    
    }

}


